[Unit]
Description=Node Exporter
After=network.target

[Service]
User=node-exporter-user
Group=node-exporter-user
Type=simple
ExecStart=/usr/bin/node_exporter-0.18.1.linux-amd64/node_exporter

[Install]
WantedBy=multi-user.target